body{
    margin: 0;
    padding: 0;
    background-image: url(https://www.livemint.com/lm-img/img/2023/04/03/1600x900/PTI04-03-2023-000319B-0_1680543237027_1680543237027_1680543259269_1680543259269.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
}
